*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}
section{
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    border: 1px solid salmon;
    border-radius: 50px;
    background: silver;


}
img{
    max-width: 100%;
}
.container{
    padding: 50px 30px;
    justify-content: center;
    align-items: center;
    color: white;
}
/* inro-content */
.container .intro-contents{
    display: flex;
    flex-direction: column;
}
.container .intro-contents .image img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.intro-contents .text h2{
    font-size: 30px;
    margin-top: 50px;
}
.intro-contents .text *{
    margin: 15px;
}
.intro-contents .text {
    font-size: 15px;
}

#icon{
    display: flex;
    flex-direction: column;
}
 #icon .first-icon .iconss{
    color: blue;
    font-size: 50px;
    border-radius: 60%;
    border:rgb(43, 26, 105) solid;
    background-color:rgb(240, 217, 10);
    padding: 10px;
    align-self: flex-start;
}
 #icon .second-icon .iconss{
    color: rgb(19, 19, 173);
    font-size: 50px;
    border-radius: 50%;
    border:rgb(29, 23, 87) solid;
    background-color: rgb(235, 220, 20);
    padding: 10px;
    align-self: flex-start;
}
#icon .first-icon{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
#icon .second-icon{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
#icons *{
    margin: 30px;
}

@media screen and (min-width:768px){
    .container .intro-contents .image img{

    }
    .container .intro-contents{
        display: flex;
        flex-direction: row;
        background: silver;
    }
    .intro-contents .text{
        flex-basis: 300px;
    }
    .intro-contents .image{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #icon{
        flex-direction: row;
    }
    #icon .second-icon {
        justify-content: center;
        align-items: center;
    }
    #icon .first-icon {
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #icon .second-icon{
        flex-direction: row;
    }b
    .first-icon p{
        margin-left: 15px;
        color: black;
    }
    .second-icon p{
        margin-left: 15px;
        color: black;
    }
    .text {
        color: black;
        font-size: 3rem;
    }
    .container{
        border-radius: 50px;
    }
   

}
@media screen and (min-width:1024px){

    section{
        max-width: 1000px;

    
    }
   
    .intro-contents .text{
        flex-grow: 2;
    }
}